<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de pokemon</title>
</head>
<body>
    <h1>Detalles</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mt-5 mb-5">
                <p>Nombre : <span th:text="${pokemon.name}"></span></p>
                <p>Orden : <span th:text="${pokemon.order}"></span></p>
                <p>Felicidad : <span th:text="${pokemon.base_happiness}"></span></p>
                <p>Ratio de captura : <span th:text="${pokemon.capture_rate}"></span></p>
                <p>Orden : <span th:text="${pokemon.order}"></span></p>
                <!---->
                <div th:if="@{${pokemon.evolution_chain} != null}">
                    <a th:href="@{/pokemon/evolution/{id} (id=${#strings.substringAfter(pokemon.evolution_chain.url,'https://pokeapi.co/api/v2/evolution-chain/')})}">Cadena de evolucion</a>
                </div>
                <div th:if="@{${pokemon.evolution_chain} == null}">
                    <p>No tiene una cadena de evolucion</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mt-5 mb-5">
                <a class="btn btn-primary" th:href="@{/pokemon/listado}">Volver al listado</a>
            </div>
        </div>
    </div>
</body>
</html>